<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KubeManager"
        tools:targetApi="31">

        <!-- экран деталей ноды -->
        <activity
            android:name=".NodeDetailsActivity"
            android:exported="false"
            android:label="Нода" />

        <!-- сплэш-экран (стартовый) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.KubeManager.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- главная -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- ноды -->
        <activity
            android:name=".nodes"
            android:exported="false" />

        <!-- ресурсы -->
        <activity
            android:name=".resurses"
            android:exported="false" />

        <!-- настройки -->
        <activity
            android:name=".Settings"
            android:exported="false" />

        <!-- обзор кластера -->
        <activity
            android:name=".ClusterOverview"
            android:exported="false" />

    </application>

</manifest>
